<h1> Bean Fiend </h1>
<article><p class = 'lead'> Welcome to Bean Fiend, where we believe that coffee means something more than just a drink. Cafés used to be a centerpiece of culture, discussion, and knowledge, and we see no reason why they shouldn't be again. </p></article>