<% unless user_signed_in? %>
	<div class = "hero-unit">
		<h1> Bean Fiend </h1>
		<p> Befriend the Fiend in You</p>
		<p>
			<a class="btn btn-primary btn-large" href = "/users/sign_up">
	      			Sign Up
	    		</a>
	    	</p>
	</div>
<% end %>