<h1> Bean Fiend </h1>
<article><p class = 'lead'> Welcome to Bean Fiend, where we believe that coffee means
	<%= image_tag ("Coffee_Camera.jpg"), class: "title_image" %>
 something more than just a drink. Cafés used to be the centerpieces of culture, discussion, and knowledge, and we see no reason why they shouldn't be again. For this reason, we also believe that you deserve better than Starbucks, Dunkin' Donuts, and god forbid McDonalds coffee. You won't find those stores here. Check out the 
<%= link_to "Coffee", stores_path %> page to find cafés in your area. . </p>
<%= image_tag ("Espresso.jpg"), class: "title_image", style: "float:left;margin:10px 20px 20px 0" %>
<p class = 'lead'> Once you <%= link_to "sign up", new_user_registration_path %>, You'll be able to write reviews about cafés you've visited, and rate them based on a few scales: noise, people, wifi, price, and of course the quality of coffee. We believe that this comprehensive scale (each category 0-10) will give you the most accurate descritpion of each café that piques your interest. Take a look around, and if you see somewhere you've been, write a review! Enjoy the site. Enjoy the coffee. </p>

</article>