<% if review %>
	<div class="review_box">
			<div class="review_title">
				<h3 style="color: black"><%= review.title %></h3>
			</div>
			<p><%= review.text %></p>
			<% if current_user.reviews.include?(review) %>
				<a href="#">Edit Review</a>
			<% end %>
	</div>
<% end %>